[Desktop Entry]
Icon=text-html
Name=Simple Gillespie
Type=Link
URL[$e]=http://be150.caltech.edu/2020/content/lessons/12_stochastic_simulation.html#Coding-up-the-Gillespie-simulation
